* {
  box-sizing: border-box;
}

body {
  padding: 0;
  background: radial-gradient(circle, #888787, #040303);  
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.content {
    padding-top: 40px;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.bottom-middle-right-image {
  position: absolute;
  bottom: 50%;
  right: 0;
  margin-top: 60%; 
  margin-right: 45%; 
}

.info {
  position: relative;
  display: grid;
  z-index: 1;
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
  padding: 20px;
  margin-top: 800px;
}

.info::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(100px); 
  z-index: -1; 
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 20px;
}

:root {
  --card-height: 500px;
  --card-width: calc(var(--card-height) / 1.5);
}

.card {
  width: var(--card-width);
  height: var(--card-height);
  position:relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  perspective: 2500px;
  margin: 0 50px;
  backdrop-filter: blur(100px); 

}

.blur{

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

}

.card:hover .blur{
  backdrop-filter: blur(5px); 
  background-color: rgba(0,0,0,0.1);
  z-index: 1;
}

.card:hover .information{
  z-index: 2;
}

.cover-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position:relative;
  backdrop-filter: blur(100px); 

}

.wrapper{
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}

.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.card:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.card:hover .wrapper::after {
  height: 120px;
}

.information {
  width: 100%;
  transition: transform 0.5s, opacity 0.3s ease-in-out; 
  position: absolute;
  color: #fff;
  padding: 15px;
  text-align: center;
  opacity: 0; 
}

.card:hover .information {
  transform: translate3d(0%, -50px, 100px);
  opacity: 1;
}

  /* @media only screen and (max-width: 768px) {
    .card {
      width: 90%;
    }
  } */

.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}

.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}  

.container .box {
  width: 11.875em;
  height: 15.875em;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 0.7rem;
  transition: all ease 0.3s;
}

.container .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
